env {
 PATH="$PWD/scripts:$PWD/tcoffee:$PWD/apps:$PWD/res_dic:$PWD/example:$PWD/res_dic:$PWD:$PATH"
 BLASTMAT="$PWD/blastmat"

}

process {
 container='tsaihanlung/mybiocontainer-python-bioperl:latest'
 containerOptions = '-u $(id -u):$(id -g)'

}


//comment out this, if there are some error occur. (difference between ubuntu 16.04 and 18.04)
NXF_WORK=$baseDir
