env {
 PATH="$PWD/scripts:$PWD/tcoffee:$PWD/apps:$PWD/res_dic:$PWD/example:$PWD/res_dic:$PWD:$PATH"
 BLASTMAT="$PWD/blastmat"

}

process {
  container='tsaihanlung/mybiocontainer-python-bioperl:latest'
  containerOptions = '-u $(id -u):$(id -g)'
    withLabel:mafft{
	container='biocontainers/mafft:v7.407-2-deb_cv1'
    }
    withLabel:raxml{
	container='evolbioinfo/raxml-ng:v0.9.0'
    }
}


